.product-name-cell {
  font-weight: 600;
  font-size: 14px;
  transition: color 0.2s;
  padding-left: 10px !important;
}

.product-name-cell:hover {
  color: #6049E7;
}

.custom-small-table .ant-table-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 13px;
}

.custom-select-feature {
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border-color 0.2s;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px; /* ระยะห่างเฉพาะบรรทัด (บน-ล่าง) */
  /* padding: 4px; */
}

.custom-select-feature:hover {
  border-color: #d9d9d9;
  cursor: pointer; /* เพิ่ม cursor pointer ให้รู้ว่าคลิกได้ */
}

.custom-select-ant .ant-select-selector {
  border: 1px solid transparent !important;
  box-shadow: none !important;
  transition: border-color 0.2s;
}
.custom-select-ant:hover .ant-select-selector {
  border-color: #d9d9d9 !important;
  border-radius: 6px;
}