.product-name-cell {
  font-weight: 600;
  font-size: 14px;
  transition: color 0.2s;
  padding-left: 10px !important;
  color: '#424242ff';
}

.product-name-cell:hover {
  color: #6049E7;
}

.custom-small-table .ant-table-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  font-size: 13px;
}

.custom-select-feature {
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border-color 0.2s;
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
}
.custom-select-feature:hover {
  border-color: #d9d9d9;
  cursor: pointer;
}
.custom-select-feature.active {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.custom-select-ant .ant-select-selector {
  border: 1px solid transparent !important;
  box-shadow: none !important;
  transition: border-color 0.2s;
  padding: 0 !important; 
}

.custom-dayuse-dropdown .ant-select-item-option {
  padding: 0 !important; 
  width: 100% !important;
}

.custom-dayuse-dropdown .ant-select-item-option-content {
  width: 100% !important; 
  padding: 0 !important; 
  margin: 0 !important;
}

.custom-dayuse-dropdown .ant-select-item-option-active {
  background-color: transparent !important; 
}
