.custom-menu .ant-menu-item-selected {
    background-color: #ffffff !important;
    color: #30246c !important;
}

.custom-menu .ant-menu-item-selected .anticon {
    color: #30246c !important;
}

.custom-menu .ant-menu-item-selected span {
    color: #30246c !important;
}