.custom-menu .ant-menu-item-selected {
    background-color: #ffffff !important;
    color: rgb(0, 115, 192) !important;
}

.custom-menu .ant-menu-item-selected .anticon {
    color: rgb(0, 115, 192) !important;
}

.custom-menu .ant-menu-item-selected span {
    color: rgb(0, 115, 192) !important;
}